/*
* html, body
* the following properties are a good place to start playing with CSS
*/
html, body {
  margin: 0; /*reset default value*/
  padding: 0; /*reset default value*/
  height: 100%; /*make elements' height always the size of browser window*/
  width: 100%; /*make elements' width always the size of browser window*/
  box-sizing: border-box; /*make size of each "box" the outside edge of its border */
}

body {
  border: 4px solid blue;
}

#parent-div{
  background-color: maroon;
  width: 800px;
  height: 500px;
  /*
  * this is one way to center an element (layout)
  * position: absolute - takes the parent-div element out of the HTML document flow.
  * top, left: 50% - moves the top, left edge away from the top by 50%.  note these properties work because position has been set to absolute.
  * translate(X,Y) - this calibrates the element's point of reference.  default is top-left corner of element and this property allows you to change that.  this is necessary to perfectly center an element.
  */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.child-one{
  background-color: violet;
}

.child-two{
  background-color: turquoise;
}